<section class="x-small">
  <section class="line-2px">
  </section>
  <section class="spanish">
    En Español
  </section>
  <section class="line-1px">
  </section>
  <section class="dropdown-container">
    <section class="dropdown">
      <section class="menu-text">
        Menu
      </section>
      <section class="menu-icon">
        <i class="material-icons md-36" (click) = "showMenu()">keyboard_arrow_down</i>
      </section>
    </section>
    <section [ngClass]="{'transition':showingMenu}" [hidden]="!showingMenu" class="dropdown-content">
      <section>
        <h2 class="header-link">DWI/Criminal</h2>
      </section>
      <section>
        <h2 class="header-link">Immigration</h2>
      </section>
      <section>
        <h2 class="header-link header-link__last">Contact/Directions</h2>
      </section>
    </section>
  </section>
  <section class="clear-fix">
  </section>
  <section class="line-2px">
  </section>
  <section class="small-office-title-container">
    <h1 class="small-office-title">The Law Office of</h1>
  </section>
  <section class="small-maldonado-title-container">
    <h1 class="small-maldonado-title">Ricardo Maldonado</h1>
  </section>
  <section class="clear-fix">
  </section>
  <section class="line-2px">
  </section>
</section>


<section class="small">
  <section class="line-1px">
  </section>
  <section class="marble-header">
    <img src = "/assets/marble-header.png" alt="marble-header.png" class="marble-image">
    <img src = "/assets/state-bar-emblem.png" alt="state-emblem.png" class="state-emblem">
  </section>
  <section class="line-1px">
  </section>
  <section class="small-links-container">
    <section class="small-link-container">
      <h2 class="small-link">DWI/<br>Criminal</h2>
    </section>
    <section class="small-link-container">
      <h2 class="small-link">Immigration</h2>
    </section>
    <section class="small-link-container">
      <h2 class="small-link">Contact/<br>Directions</h2>
    </section>
    <section class="small-link-container">
      <h2 class="small-link">En Español</h2>
    </section>
  </section>
  <section class="clear-fix">
  </section>
  <section class="line-1px">
  </section>
  <section class="small-office-title-container">
    <h1 class="small-office-title">The Law Office of</h1>
  </section>
  <section class="small-maldonado-title-container">
    <h1 class="small-maldonado-title">Ricardo Maldonado</h1>
  </section>
  <section class="clear-fix">
  </section>
  <section class="line-1px">
  </section>
</section>


<section class="medium">
  <section class="medium-office-title-container" style="padding-top:40px">
    <section class="medium-office-title">
      The Law Office of
    </section>
    <section class="medium-office-maldonado-title" style="padding-top:5px">
      Ricardo Maldonado
    </section>
  </section>
  <section class="medium-contacts-container">
    512-850-9005<br>
    812 San Antonio St.<br>
    Suite 118<br>
    Austin, TX 78701<br>
    find us on <img src = "/assets/facebook-100x100.png" alt="facebook.png" class="facebook">
  </section>
  <section class="medium-page-links">
    <section class="medium-page-link-vert">
      Home
    </section>
    <section class="medium-page-link">
      DWI/<br>Criminal
    </section>
    <section class="medium-page-link-vert">
      Immigration
    </section>
    <section class="medium-page-link">
      Contact/<br>Directions
    </section>
    <section class="medium-page-link">
      en<br>Español
    </section>
  </section>
</section>
