$dark-blue: #26313e;
$background-blue: #469;
.contact {
  font-size: 1.0rem;
  //font-family: 'Lusitana', serif;
  font-family: 'Times New Roman';
  position:absolute;
  width:100%;
  bottom:0;
  right:0;
  text-align:right;
  background-color:$background-blue;
  margin: 0;
}

.clear-fix {
  clear: both;
}

.contact-container {
  height:130px;
  position:relative;
}

.dropdown {
  width: 110px;
  text-align:center;
  margin:0px auto 5px auto;

}

.dropdown-content {
  clear:both;
}

.dropdown-container {
  margin-top:5px;
}

.header-link {
  text-align:center;
  border-top: 1px solid $dark-blue;
  margin:0 auto 0 auto;
  padding: 10px;
  font-size:1.2rem;
  font-family: Times, serif;
  text-transform: uppercase;
  letter-spacing: .12rem;
  line-height:2.25rem;
  font-weight:normal;
  width:65%;
}

.header-link__last {
  border-bottom: 1px solid $dark-blue;
  margin-bottom: 5px;
}

.fancy-font-container {
  height:80px;
  position:relative;
}

.fancy-font {
  font-family: 'Pinyon Script', cursive;
  font-size:2.0rem;
  letter-spacing: 0.1rem;
  margin-bottom:0px;
  margin-top:0px;
  position:absolute;
  width:100%;
  bottom:0;
}

.header-left {
  float:left;
  background-color:#444;
  width:65%;
}

.header-right {
  float:right;
  position:relative;
  width:30%
}

.line-2px {
  background-color:$dark-blue;
  width: 100%;
  height: 2px;
}

.line-1px {
  background-color:$dark-blue;
  width: 100%;
  height: 1px;
}

.marble-header {
  width:100%;
  height:70px;
  position:relative;
}

.marble-header-img {
  width:100%;
  height:70px;
}

.menu-icon {
  float:left;
  display:inline-block;
}

.menu-text {
  float:left;
  display:inline-block;
  font-family: Times, serif;
  text-transform: uppercase;
  letter-spacing: .12rem;
  line-height:2.25rem;
  font-size:1.2rem;
  text-align:center;
  font-weight: bold;
}

.maldonado-title {
  font-size: 3.3rem;
  line-height: 0.85em;
  //font-family: 'Lusitana', serif;
  font-family: 'Times New Roman';
  background-color:#aaa;
  position:absolute;
  width:100%;
  bottom:0;
  margin-top:0em;
  margin-bottom:0em;
}

.maldonado-title-container {
  height:50px;
  position:relative;
}

.medium {
  display: none;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.small-link-container {
  float:left;
  width:25%;
  height:75px;
  //background-color:#aaa;
  position:relative;
}

.small-link {
  font-weight:normal;
  display:inline-block;
  font-family: Times, serif;
  line-height:1.2rem;
  font-size:1.2rem;
  text-align:center;
  position:absolute;
  top:50%;
  left:50%;
  margin:0;
  margin-right:-50%;
  transform: translate(-50%, -50%);
  //background-color:#ddd;
}

.small-maldonado-title-container {
  height:90px;
  position:relative;
}

.small-maldonado-title {
  font-family: Times, serif;
  font-size:2.5rem;
  letter-spacing: 0.1rem;
  position:absolute;
  top:0%;
  left:50%;
  margin:0;
  margin-right:-50%;
  transform: translate(-50%, 25%);
}

.small-office-title-container {
  height:75px;
  position:relative;
  //background-color:#daa;
}

.small-office-title {
  font-family: 'Pinyon Script', cursive;
  font-size:2.0rem;
  letter-spacing: 0.1rem;
  position:absolute;
  bottom:0%;
  left:50%;
  margin:0;
  margin-right:-50%;
  transform: translate(-50%, 0%);
}

.spanish {
  font-size:1.2rem;
  font-family: Times, serif;
  text-transform: uppercase;
  letter-spacing: .12rem;
  line-height:2.25rem;
  text-align:center;
  margin-top: 5px;
  margin-bottom:2px;
}

.state-emblem {
  position:absolute;
  height:70px;
  top:50%;
  left:50%;
  margin:0;
  margin-right:-50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 576px) {
  .x-small {
    display: none;
  }
  .small {
    display: block;
  }
}

@media (min-width: 768px) {
  .medium {
    display: block;
  }

  .small {
    display: none;
  }
}
