$dark-blue: #001F48;
$background-blue: #929da1;
$hover: #bbb;
$active: #E0CE5A;
$black: #111;
$navigation-color:#666;

a:link{
  color: $dark-blue;
  text-decoration:none;
}

a:visited{
  color: $dark-blue;
  text-decoration:none;
}

a:hover {
  color: $hover;
  text-decoration:none;
}

a:active {
  color: #E0CE5A;
}


.clear-fix {
  clear: both;
}

.dropdown {
  width: 110px;
  text-align:center;
  margin:0px auto 5px auto;

}

.dropdown-content {
  clear:both;
}

.dropdown-container {
  margin-top:5px;
}

.facebook {
  height:18px;
  width:18px;
  margin-right:5px;
}

.header-link {
  text-align:center;
  border-top: 1px solid $dark-blue;
  margin:0 auto 0 auto;
  padding: 10px;
  font-size:1.2rem;
  font-family: Times, serif;
  text-transform: uppercase;
  letter-spacing: .12rem;
  line-height:2.25rem;
  font-weight:normal;
  width:65%;
  color:$dark-blue;
}

.header-link__last {
  border-bottom: 1px solid $dark-blue;
  margin-bottom: 5px;
}

.line-2px {
  background-color:#222;
  width: 100%;
  height: 2px;
}

.line-1px {
  background-color:#222;
  width: 100%;
  height: 1px;
}

.material-icons.md-18 { font-size: 18px;  color:$black;}
.material-icons.md-24 { font-size: 24px;  color:$black;}
.material-icons.md-36 { font-size: 36px;  color:$black;}
.material-icons.md-48 { font-size: 48px;  color:$black;}

.medium {
  display: none;
}

.small {
  display:none;
}

.maldonado-title-container {
  height:50px;
  position:relative;
}

.maldonado-title-container {
  height:102px;
}

.maldonado-title {
  font-family: Times, serif;
  font-size:2.5rem;
  letter-spacing: 0.1rem;
  line-height:2.3rem;
  height:102px;
  text-align:center;
  margin:16px 0 0 0;
  color:$black;
}

.maldonado-title a:link{
  color: #000;
  text-decoration:none;
}

.maldonado-title a:visited{
  color: #000;
  text-decoration:none;
}

.maldonado-title a:hover {
  color: $dark-blue;
  text-decoration:none;
}

.maldonado-title a:active {
  color: #bbb;
}

.menu-icon {
  float:left;
  display:inline-block;
}

.menu-text {
  float:left;
  display:inline-block;
  font-family: Times, serif;
  text-transform: uppercase;
  letter-spacing: .12rem;
  line-height:2.25rem;
  font-size:1.2rem;
  text-align:center;
  //font-weight: bold;
  color:$black;
}

.office-title-container {
  height:65px;
  position:relative;
  //background-color:#daa;
}

.office-title {
  font-family: 'Pinyon Script', cursive;
  font-size:2.0rem;
  letter-spacing: 0.1rem;
  position:absolute;
  bottom:0%;
  left:50%;
  margin:0;
  margin-right:-50%;
  transform: translate(-50%, 0%);
  color:$black;
}

.office-title a:link{
  color: #000;
  text-decoration:none;
}

.office-title a:visited{
  color: #000;
  text-decoration:none;
}

.office-title-container a:hover {
  color: $dark-blue;
  text-decoration:none;
}

.office-title-container a:active {
  color: #bbb;
}

.spanish {
  font-size:1.2rem;
  font-family: Times, serif;
  text-transform: uppercase;
  letter-spacing: .12rem;
  line-height:2.25rem;
  text-align:center;
  margin-top: 5px;
  margin-bottom:2px;
  color:$black;
}

@media (min-width: 387px) {
  .small {
    display: none;
  }

  .medium {
    display:none;
  }

  .maldonado-title-container {
    height:80px;
  }

  .maldonado-title {
    font-size:2.5rem;
    letter-spacing: 0.1rem;
    height:80px;
  }

  .office-title {
    font-size:2.0rem;
    letter-spacing: 0.1rem;
  }

  .office-title-container {
    height:75px;
  }
}

@media (min-width: 576px) {
  .x-small {
    display: none;
  }
  .small {
    display: block;
  }

  .medium {
    display:none;
  }
  .marble-header {
    width:100%;
    height:70px;
    position:relative;
  }

  .marble-image {
    position:absolute;
    height:70px;
    width:100%;
    top:0;
    left:0;
    margin:0;
    margin-right:0;
    transform: translate(0, 0);
  }

  .small-link-container {
    float:left;
    width:25%;
    height:75px;
    //background-color:#aaa;
    position:relative;
  }

  .small-link {
    font-weight:normal;
    display:inline-block;
    font-family: Times, serif;
    line-height:1.2rem;
    font-size:1.2rem;
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    margin:0;
    margin-right:-50%;
    transform: translate(-50%, -50%);
    //background-color:#ddd;
  }

  .state-emblem {
    position:absolute;
    height:70px;
    top:50%;
    left:50%;
    margin:0;
    margin-right:-50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 768px) {
  .x-small {
    display: none;
  }

  .small {
    display: none;
  }

  .medium {
    display: block;
    max-width:976px;
  }
  .medium-contacts-container {
    display:inline-block;
    float:right;
    padding-top:15px;
    width:24%;
    text-align:right;
    font-family: Times, serif;
    font-size:1.0rem;
    line-height: 1.3rem;
  }

  .medium-office-maldonado-title {
    font-family: Times, serif;
    font-size:2.5rem;
    letter-spacing: 0.1rem;
    line-height:2.3rem;
  }

  .medium-office-title-container {
    width:74%;
    display:inline-block;
    height:95px;
  }

  .medium-office-title {
    font-family: 'Pinyon Script', cursive;
    font-size:2.0rem;
    letter-spacing: 0.1rem;
  }

  .medium-page-links {
    height:3.0rem;
    background-color:$navigation-color;
    width:100%;
    max-width:976px;
  }

  .medium-page-link {
    font-family: Times, serif;
    font-size:1.2rem;
    float:left;
    width:20%;
    text-align:center;
    line-height:1.2rem;
    padding-top:.4rem;
  }

  .medium-page-link-vert {
    font-family: Times, serif;
    font-size:1.2rem;
    float:left;
    width:20%;
    text-align:center;
    padding-top:.74rem;
  }

  .small {
    display: none;
  }

}
