<section class="x-small">
  <section class="line-2px">
  </section>
  <section class="spanish">
    En Español
  </section>
  <section class="line-1px">
  </section>
  <section class="dropdown-container">
    <section class="dropdown">
      <section class="menu-text">
        Menu
      </section>
      <section class="menu-icon">
        <i class="material-icons md-36" (click) = "showMenu()">keyboard_arrow_down</i>
      </section>
    </section>
    <section [ngClass]="{'transition':showingMenu}" [hidden]="!showingMenu" class="dropdown-content">
      <section>
        <h1 class="header-link">DWI/Criminal</h1>
      </section>
      <section>
        <h1 class="header-link">Immigration</h1>
      </section>
      <section>
        <h1 class="header-link header-link__last">Contact/Directions</h1>
      </section>
    </section>
  </section>
  <section class="clear-fix">
  </section>
  <section class="line-2px">
  </section>
</section>


<section class="medium">
  <section class="header-left">
    <section class="fancy-font-container">
      <h1 class="fancy-font">
        Law Office of
      </h1>
    </section>

    <section class="maldonado-title-container">
      <h1 class="maldonado-title">
        Ricardo Maldonado
      </h1>
    </section>
  </section>
  <section class="header-right">
    <section class="contact-container">
      <h5 class="contact">
        512-850-9005<br>
        812 San Antonio St.<br>
        Suite 118<br>
        Austin, TX 78701<br>
        on facebook
      </h5>
    </section>
  </section>
</section>
