$active: #E0CE5A;
$background-hover:#bbb;
$black111: #111;
$blue-bright:#002E6B;
$blue-dark: #001F48;
$hover: #999;
$navigation-bar:#36464e;
$white: #bbb;

.small {
  display:none;
}

.medium {
  display: none;
}

a {
  text-decoration:none;
}

a:link, a:visited {
  color: $blue-dark;
}

a:hover {
  color: $hover;
}

a:active {
  color: #E0CE5A;
}

.header-link a.active {
  color: #eee;
}

.clear-fix {
  clear: both;
}

.dropdown {
  width: 110px;
  text-align:center;
  margin:0px auto 5px auto;

}

.dropdown-content {
  clear:both;
}

.dropdown-container {
  margin-top:5px;
}

.facebook {
  height:18px;
  width:18px;
  margin-bottom:-2px;
  margin-left:1px;
}

.header-link {
  text-align:center;
  border-top: 1px solid $blue-dark;
  margin:0 auto 0 auto;
  padding: 12px;
  font-size:1.2rem;
  font-family: Times, serif;
  text-transform: uppercase;
  letter-spacing: .12rem;
  line-height:1.8rem;
  font-weight:normal;
  width:65%;
  color: $blue-dark;
}

.header-link-facebook {
  text-align:center;
  border-top: 1px solid $blue-dark;
  margin:0 auto 0 auto;
  padding: 10px;
  font-size:1.2rem;
  font-family: Times, serif;
  text-transform: uppercase;
  letter-spacing: .12rem;
  line-height:2.25rem;
  font-weight:normal;
  width:65%;
  color: $blue-dark;
  text-decoration:none;
}

.header-link-facebook a:link, .header-link-facebook a:visited {
  color: $blue-dark;
}

.header-link-facebook a:hover {
  background-color: $background-hover;
  padding:6px;
  border-radius: 4px;
}

.header-link-facebook a:active {
  color: #E0CE5A;
  background-color: #eee;
  padding:6px;
  border-radius: 4px;
}

.header-link__last {
  border-bottom: 1px solid $blue-dark;
  margin-bottom: 5px;
}

.line-2px {
  background-color:#222;
  width: 100%;
  height: 2px;
}

.line-1px {
  background-color:#222;
  width: 100%;
  height: 1px;
}

.material-icons.md-18 { font-size: 18px;  color: $black111;}
.material-icons.md-24 { font-size: 24px;  color: $black111;}
.material-icons.md-36 { font-size: 36px;  color: $black111;}
.material-icons.md-48 { font-size: 48px;  color: $black111;}

.maldonado-title-container {
  height:50px;
  position:relative;
}

.maldonado-title-container {
  height:102px;
}

.maldonado-title {
  font-family: Times, serif;
  font-size:2.5rem;
  letter-spacing: 0.1rem;
  line-height:2.3rem;
  height:102px;
  text-align:center;
  margin:16px 0 0 0;
  color: $black111;
  text-decoration:none;
}

.maldonado-title a:link, .maldonado-title a:visited{
  color: #000;
}

.maldonado-title a:hover {
  color: $blue-dark;
}

.maldonado-title a:active {
  color: #bbb;
}

.menu-icon {
  float:left;
  display:inline-block;
}

.menu-text {
  float:left;
  display:inline-block;
  font-family: Times, serif;
  text-transform: uppercase;
  letter-spacing: .12rem;
  line-height:2.25rem;
  font-size:1.2rem;
  text-align:center;
  //font-weight: bold;
  color: $black111;
}

.office-title-container {
  height:65px;
  position:relative;
  //background-color:#daa;
}

.office-title {
  font-family: 'Pinyon Script', cursive;
  font-size:2.0rem;
  letter-spacing: 0.1rem;
  position:absolute;
  bottom:0%;
  left:50%;
  margin:0;
  margin-right:-50%;
  transform: translate(-50%, 0%);
  color: $black111;
}

.office-title a:link, .office-title a:visited{
  color: #000;
}


.office-title-container a:hover {
  color: $blue-dark;
}

.office-title-container a:active {
  color: #bbb;
}

.spanish {
  font-size:1.2rem;
  font-family: Times, serif;
  text-transform: uppercase;
  letter-spacing: .12rem;
  line-height:2.25rem;
  text-align:center;
  margin-top: 5px;
  margin-bottom:2px;
  color: $black111;
}

.spanish:hover {
  color: $hover;
}

.spanish:active {
  color: $active;
}

@media (min-width: 387px) {
  .small {
    display: none;
  }

  .medium {
    display:none;
  }

  .maldonado-title-container {
    height:80px;
  }

  .maldonado-title {
    font-size:2.5rem;
    letter-spacing: 0.1rem;
    height:80px;
  }

  .office-title {
    font-size:2.0rem;
    letter-spacing: 0.1rem;
  }

  .office-title-container {
    height:75px;
  }
}

@media (min-width: 576px) {
  .x-small {
    display: none;
  }
  .small {
    display: block;
  }

  .medium {
    display:none;
  }
  .marble-header {
    width:100%;
    height:70px;
    position:relative;
  }

  .marble-image {
    position:absolute;
    height:70px;
    width:100%;
    top:0;
    left:0;
    margin:0;
    margin-right:0;
    transform: translate(0, 0);
  }

  .small-link-container {
    float:left;
    width:20%;
    height:75px;
    //background-color:#aaa;
    position:relative;
  }

  .small-link {
    padding-left: 15px;
    padding-right:15px;
    font-weight:normal;
    display:inline-block;
    font-family: Times, serif;
    line-height:1.2rem;
    font-size:1.2rem;
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    margin:0;
    margin-right:-50%;
    transform: translate(-50%, -50%);
  }

  .small-link a.active {
    color: #4F2107;
  }

  .state-emblem {
    position:absolute;
    height:70px;
    top:50%;
    left:50%;
    margin:0;
    margin-right:-50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 768px) {
  .x-small {
    display: none;
  }

  .small {
    display: none;
  }

  a:link, a:visited {
    color: $white;
  }

  a:hover {
    color: $hover;
  }

  a:active {
    color: #E0CE5A;
  }

  .facebook {
    margin-right:3px;
  }

  .medium-link a.active {
    color: #fff;
    text-decoration:none;
  }

  .medium {
    display: block;
    max-width:976px;
  }

  .medium-contacts-container {
    display:inline-block;
    float:right;
    padding-top:15px;
    width:24%;
    text-align:right;
    font-family: Times, serif;
    font-size:1.05rem;
    line-height: 1.3rem;
  }

  .medium-facebook {
    text-align:right;
    font-family: Times, serif;
    font-size:1.05rem;
    line-height: 1.3rem;
    color: $blue-bright;
    margin-top:2px;
  }

  .medium-facebook a:link, .medium-facebook a:visited {
    color: $blue-bright;
  }

  .medium-facebook a:hover {
    background-color: $background-hover;
    padding:6px;
    border-radius: 4px;
  }

  .medium-facebook a:active {
    color: #E0CE5A;
    background-color: #eee;
    padding:6px;
    border-radius: 4px;
  }

  .medium-office-maldonado-title {
    font-family: Times, serif;
    font-size:2.5rem;
    letter-spacing: 0.1rem;
    line-height:2.3rem;
    font-weight: bold;
  }

  .medium-office-title-container {
    width:74%;
    display:inline-block;
    height:95px;
  }

  .medium-office-title {
    font-family: 'Pinyon Script', cursive;
    font-size:2.0rem;
    letter-spacing: 0.1rem;
  }

  .medium-page-links {
    height:3.0rem;
    background-color: $navigation-bar;
    width:100%;
    max-width:976px;
    position:relative;
  }
  .medium-link-container {
    float:left;
    width:20%;
    height:3.0rem;
    //background-color:#aaa;
    position:relative;
  }

  .medium-link {
    padding-left: 20px;
    padding-right: 20px;
    font-weight:normal;
    display:inline-block;
    font-family: Times, serif;
    line-height:1.2rem;
    font-size:1.2rem;
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    margin:0;
    margin-right:-50%;
    transform: translate(-50%, -50%);
    color: $white;
    text-decoration:none;
  }

  .medium-link:visited{
    color: $white;
  }

  .medium-link:hover {
    color: $hover;
  }

  .medium-link:active {
    color: #E0CE5A;
  }

  .small {
    display: none;
  }

}
