<section class="background-wrapper">
  <section class="page-wrapper">
    <section style="position:absolute; z-index:5;">
      {{width}}
    </section>
    <app-header></app-header>

    <section  [ngStyle] = "{'background-image': austinNightUrl}" class="billboard-container">
    </section>
    <section class="line-5px">
    </section>
    <section class="intro-container">
      <img class="individual-photo"
           src={{maldonadoDWIUrl}}
           alt="maldonado_dwi.jpg">
      <span class="intro-large">{{dwi1}}</span>
      <span class="intro-norm">{{dwi2}}</span>
      <br>
      <br>
      <span class="intro-norm">{{dwi3}}</span>
      <br>
      <br>
      <span class="intro-norm">{{dwi4}}</span>
      <br>
      <br>
      <span class="intro-norm">{{dwi5}}</span>
    </section>
    <section class="clearfix"></section>
    <app-footer></app-footer>
  </section>
</section>
