$bright-blue:#002E6B;
$hover: #ccc;

a:link, a:visited {
  color: $bright-blue;
  text-decoration: none;
}

a:hover {
  background-color: $hover;
  color:$bright-blue;
  padding:4px 4px 3px 4px;
  border-radius: 4px;
}

a:active {
  color: #E0CE5A;
  background-color: #eee;
  padding:4px 4px 3px 4px;
  border-radius: 4px;
}

.garage-background {
  display:block;
  width:100%;
  max-width:976px;
  height:277px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: 0% 50%;
  border-top:1px solid #222;
  border-bottom:1px solid #222;
}

.contact-info {
  margin: 15px auto 12px auto;
  float:left;
  width:100%;
  text-align:center;
}

.directions-info {
  margin: 30px auto 4px auto;
  width:97%;
  text-align:center;
}


.facebook {
  height:18px;
  width:18px;
  margin-bottom:0px;
  margin-left:1px;
  margin-top:2px;
}

.footer-spacing {
  height:20px;
}

.google-maps-info {
  font-size:1.15rem;
  font-family: Times, serif;
  line-height:1.5rem;
  margin-left:2px;
  text-align: center;
}

.text-norm {
  text-align:center;
  font-size:1.15rem;
  font-family: Times, serif;
  line-height:1.5rem;
}


@media (min-width: 576px) {
  .contact-info {
    width:50%;
  }
  .google-maps-info {
    text-align: left;
    margin-left:5px;
  }
}

@media (min-width: 768px) {
  .garage-background {
    border:1px solid #222;
  }
}
