<section class="background-wrapper">
  <img class="swoosh-background"
       src="{{swooshImg}}"
       alt="swishbackground.png">
</section>
<section class="page-wrapper">
  <section style="position:absolute; z-index:5;">
    {{width}}
  </section>
  <app-header (espanolPressedEmitter)="espanolPressed()"></app-header>

  <section [ngStyle] = "{'background-image': sanAntonioStImg}" class="billboard-container">
  </section>
  <section class="line-5px">
  </section>
  <h2 class="title">
    {{title}}
  </h2>
  <section class="contact-info">
    <section class="text-norm">{{street}}</section>
    <section class="text-norm">{{city}}</section>
    <section class="text-norm">{{email}}</section>
  </section>
  <section class="contact-info">
    <section class="text-norm">{{telephone}}</section>
    <section class="text-norm">{{fax}}</section>
    <section class="text-norm">
      <a href={{facebookLinkURL}}>Find us on
        <img src = "{{facebookImg}}"
             alt="facebook.png" class="facebook">
      </a>
    </section>
  </section>
  <section class="clearfix">
  </section>
  <section class="google-maps-info">
    <a href={{googleClickUrl}}>{{googleMapsClick}}
    </a>
  </section>
  <section [ngStyle] = "{'background-image': sanAntonioMapBckgrd}" class="garage-background">
  </section>
  <section class="clearfix">
  </section>
  <section class="directions-info text-norm">
    {{directions}}
  </section>
  <section class="clearfix">
  </section>
  <section [ngStyle] = "{'background-image': sanAntonioGarageBckgrd}" class="garage-background">
  </section>
  <section class="clearfix">
  </section>
  <section class="footer-spacing">

  </section>
</section>

