<section style="position:absolute; z-index:5;">
  {{width}}
</section>
<app-header></app-header>

<section class="billboard-container">
</section>
<section class="line-5px">
</section>
<section class="intro-container">
  <img class="individual-photo"
       src="./../../assets/ricardo-law-center-over-750.jpg"
       alt="maldonado-law-center.jpg">
  <span class="intro-large">{{intro1}}</span>
  <span class="intro-norm">{{intro2a}}</span>
  <br>
  <br>
  <span class="intro-norm">{{intro3}}</span>
  <br>
  <br>
  <span class="intro-norm">{{intro2b}}</span>
  <br>
  <br>
  <span class="intro-norm">{{intro4}}</span>
</section>
<app-footer></app-footer>

